{% extends "bus_ticketing_app/Admin/admin_layout.html" %}


{% block body %}
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title" style="color: black;">Buses</h3>

          <div class="card-tools">
            <div class="input-group input-group-sm" style="width: 150px;">
              <input type="text" name="table_search" class="form-control float-right" placeholder="Search">
              <div class="input-group-append">
                <button type="submit" class="btn btn-default">
                  <i class="fas fa-search"></i>
                </button>
              </div>
            </div>
          </div>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
                <th>ID</th>
                <th>Bus Number</th>
                <th>Capacity</th>
                <th>Created At</th>
                <th>Updated At</th>
                <th>Action</th>
              </tr>
            </thead>
            <tbody>
              {% for bus in buses %}
              <tr>
                <td>{{ bus.id }}</td>
                <td>{{ bus.bus_number }}</td>
                <td>{{ bus.capacity }}</td>
                <td>{{ bus.created_at }}</td>
                <td>{{ bus.updated_at }}</td>
                <td><a href="{% url 'bus_ticketing_app:edit_bus' bus.id %}" class="btn btn-success">Edit</a></td>
                <td><a href="{% url 'bus_ticketing_app:delete_bus' bus.id %}" class="btn btn-danger">Delete</a></td>
              </tr>
              {% endfor %}
            </tbody>
            <a href="{% url 'bus_ticketing_app:add_bus' %}" class="btn btn-primary" style="color: white; text-decoration: none;margin: 5px;">Add Bus</a>
            {% if messages %}
              {% for message in messages %}
                {% if message.tags == 'error' %}
                  <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                {% endif %}
                {% if message.tags == 'success' %}
                  <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                {% endif %}
              {% endfor %}
            {% endif %}
          </table>
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
{% endblock %}