{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Payment</title>
    <link rel="stylesheet" href="{% static 'bus_ticketing_app/drivers/style.css' %}">

    <style>
        .signup{
        padding-top: 5px;
      }

      .asignup {
        text-decoration: none;
        /* background-color: #0dd60d; */
        /* color:rgb(252, 247, 247); */
        width: 100%;
        height: 100%;
      }
    </style>

</head>
<body>
<div class="container">
    <div class="title">Edit Payment</div>
    <form action="{% url 'bus_ticketing_app:edit_payment_save' %}" method="post">
        {% csrf_token %}
        <div class="user-details">
            <div class="input-box">
                <span class="details">Passenger</span>
                <select name="passenger" style="height: 50%; width: 300px; font-size: 20px;">
                    {% for passenger in passengers %}
                    <option value="{{ passenger.admin.id }}" {% if passenger.admin.id == payement.passenger_id.admin.id %} selected {% endif %}>{{ passenger.admin.username }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-box">
                <span class="details">Schedule</span>
                <select name="schedule" style="height: 50%; width: 300px; font-size: 20px;">
                    {% for schedule in schedules %}
                    <option value="{{ schedule.id }}" {% if schedule.id == payement.schedule_id.id %} selected {% endif %}>{{ schedule.departure_time }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-box">
                <span class="details">Amount</span>
                <input type="number" placeholder="Amount" name="amount" value="{{ payment.amount }}">
                <input type="hidden" name="payment_id" value="{{ payment.id }}">
            </div>
            <div class="input-box">
                <span class="details">Payment Status</span>
                <input type="text" placeholder="Payment Status" name="payment_status" value="{{ payment.payment_status }}">
            </div>
            <div class="button">
                <input type="submit" value="Update Payment">
            </div>
        </div>
    </form>
</div>
</body>
</html>