{% extends 'bus_ticketing_app/Admin/admin_layout.html' %}

{% block custom_css %}
<style>
.edit-schedule {
    max-width: 500px;
    width: 100%;
    margin: 50px auto;
    background: #f4f7f6;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.title {
    font-size: 24px;
    font-weight: 600;
    margin-bottom: 20px;
    text-align: center;
}

.form {
    width: 100%;
}

.input-box {
    margin-bottom: 20px;
}

.input-box .details {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
}

.input-box input, .input-box select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: 0.3s;
}

.input-box input:focus, .input-box select:focus {
    border-color: #6c63ff;
}

.button {
    text-align: center;
}

.button input {
    background: #6c63ff;
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.button input:hover {
    background: #4a46d1;
}
</style>
{% endblock custom_css %}

{% block body %}
<div class="edit-schedule">
    <div class="title">Add Schedule</div>
    <form action="{% url 'bus_ticketing_app:edit_schedule_save' %}" method="post">
        {% csrf_token %}
        <div class="user-details">
            <div class="input-box">
                <span class="details">Bus Routes</span>
                <select name="bus_route">
                    {% for bus_route in bus_routes %}
                    <option value="{{ bus_route.id }}" {% if bus_route.id == schedule.route_id.id %} selected {% endif %}>From {{ bus_route.origin }} To {{ bus_route.destination }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-box">
                <span class="details">Bus Number</span>
                <select name="bus">
                    {% for bus in buses %}
                    <option value="{{ bus.id }}" {% if bus.id == schedule.bus_id.id %} selected {% endif %}>{{ bus.bus_number }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="input-box">
                <span class="details">Departure Time</span>
                <input type="datetime-local" placeholder="Departure Time" name="departure_time" value="{{ schedule.departure_time|date:"Y-m-d H:i:s"}}">
            </div>
            <div class="input-box">
                <span class="details">Arrival Time</span>
                <input type="datetime-local" placeholder="Arrival Time" name="arrival_time" value="{{ schedule.arrival_time|date:"Y-m-d H:i:s"}}">
                <input type="hidden" class="form-control" name="schedule_id" value="{{ schedule.id }}">
            </div>
            <div class="button">
                <input type="submit" value="Update Schedule">
            </div>
        </div>
    </form>
</div>
{% endblock body %}