{% extends "bus_ticketing_app/Admin/admin_layout.html" %}

{% block custom_css %}
  <style>
    .card-body .table-responsive {
      background-color: rgba(255,255,255,0.8);
    }
    .card {
      background-color: rgba(255,255,255,0.8);
    }
  </style>
{% endblock custom_css %}

{% block body %}
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title" style="color: black;">Payments</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
                <th>ID</th>
                <th>Passenger</th>
                <th>Schedule</th>
                <th>Amount</th>
                <th>Payment Date</th>
                <th>Payment Status</th>
              </tr>
            </thead>
            <tbody>
              {% for payment in payments %}
              <tr>
                <td>{{ payment.id }}</td>
                <td>{{ payment.passenger_id.admin.username }}</td>
                <td>{{ payment.schedule_id.route_id.origin }} To {{ payment.schedule_id.route_id.destination }}</td>
                <td>{{ payment.amount }}</td>
                <td>{{ payment.payment_date }}</td>
                <td>{{ payment.payment_status }}</td>
                <td><a href="{% url 'bus_ticketing_app:edit_payment' payment.id %}" class="btn btn-success">Edit</a></td>
                <td><a href="{% url 'bus_ticketing_app:delete_payment' payment.id %}" class="btn btn-danger">Delete</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <a href="{% url 'bus_ticketing_app:add_payment' %}" class="btn btn-primary form-control" style="color: white; text-decoration: none;margin: 5px;">Add Payment</a>
            {% if messages %}
              {% for message in messages %}
                {% if message.tags == 'error' %}
                  <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                {% endif %}
                {% if message.tags == 'success' %}
                  <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                {% endif %}
              {% endfor %}
            {% endif %}
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
{% endblock %}