{% extends "bus_ticketing_app/Admin/admin_layout.html" %}

{% block custom_css %}
  <style>
    .card-body .table-responsive {
      background-color: rgba(255,255,255,0.8);
    }
    .card {
      background-color: rgba(255,255,255,0.8);
    }
  </style>
{% endblock custom_css %}

{% block body %}
<div class="row">
    <div class="col-12">
      <div class="card">
        <div class="card-header">
          <h3 class="card-title" style="color: black;">Tickets</h3>
        </div>
        <!-- /.card-header -->
        <div class="card-body table-responsive p-0">
          <table class="table table-hover text-nowrap">
            <thead>
                <th>ID</th>
                <th>Passenger</th>
                <th>Schedule</th>
                <th>Seat Number</th>
                <th>Paid By</th>
                <th>Status</th>
                <th>Booking Date</th>
              </tr>
            </thead>
            <tbody>
              {% for ticket in tickets %}
              <tr>
                <td>{{ ticket.id }}</td>
                <td>{{ ticket.passenger.admin.username }}</td>
                <td>From {{ ticket.schedule.departure_time }} To {{ ticket.schedule.arrival_time }}</td>
                <td>{{ ticket.seat_number }}</td>
                <td>{{ ticket.payment.passenger_id.admin.username }}</td>
                <td>{{ ticket.status }}</td>
                <td>{{ ticket.booking_date }}</td>
                <td><a href="{% url 'bus_ticketing_app:edit_ticket' ticket.id %}" class="btn btn-success">Edit</a></td>
                <td><a href="{% url 'bus_ticketing_app:delete_ticket' ticket.id %}" class="btn btn-danger">Delete</a></td>
              </tr>
              {% endfor %}
            </tbody>
          </table>
          <a href="{% url 'bus_ticketing_app:add_ticket' %}" class="btn btn-primary form-control" style="color: white; text-decoration: none;margin: 5px;">Add Ticket</a>
            {% if messages %}
              {% for message in messages %}
                {% if message.tags == 'error' %}
                  <div class="alert alert-danger" style="margin-top:10px">{{ message }}</div>
                {% endif %}
                {% if message.tags == 'success' %}
                  <div class="alert alert-success" style="margin-top:10px">{{ message }}</div>
                {% endif %}
              {% endfor %}
            {% endif %}
        </div>
        <!-- /.card-body -->
      </div>
      <!-- /.card -->
    </div>
  </div>
{% endblock %}