@import url();
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Fira Code;
}

body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background: url(driversimg1.jpeg);
    flex-direction: column; /* Stack forms vertically */
    background-repeat: no-repeat; /* Prevent the image from tiling */
    background-attachment: fixed; /* Keep the image fixed in the viewport */
    background-size: cover;  /* Scale the image to cover the entire viewport */
}

.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 5px;

}

.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;

}

.container .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #98FF98;
}

.container form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    flex-direction: column; /* Stack forms vertically */
    width: 100%;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);

}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius:5px ;
    border: 1px solid #ccc ;
    padding-left: 15px;
    font-size: 15px; 
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #98FF98;
}

form .button{
    width: 100%;
    height: 45px;
    margin: 20spx 0;

}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size:18px ;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: black ;

}


form .button input:hover{

 background: #0dd60d;
 opacity: 0.8;
}

@media (max-width: 584px) {
    .container{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width:100%;
    
    }
    .container form .user-details{
        max-height: 300px;
        overflow: y-scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;

    }

}
