{% extends 'bus_ticketing_app/layout.html' %}
{% load static %}


{% block body %}
<style>
    #form-container {
       width: 100%;
      }

      .signup{
        padding-top: 5px;
      }

      .asignup {
        text-decoration: none;
        /* background-color: #0dd60d; */
        /* color:rgb(252, 247, 247); */
        width: 100%;
        height: 100%;
      }
    .container-fluid{
        max-width: 700px;
        width: 100%;
        background: #fff;
        padding: 25px 30px;
        border-radius: 5px;

    }

.container-fluid .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;

}

.container-fluid .title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background: #98FF98;
}

.container-fluid form .user-details{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
    flex-direction: column; /* Stack forms vertically */
    width: 100%;
}

form .user-details .input-box{
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);

}

.user-details .input-box .details{
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}
.user-details .input-box input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius:5px ;
    border: 1px solid #ccc ;
    padding-left: 15px;
    font-size: 15px; 
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid{
    border-color: #98FF98;
}

form .button{
    width: 100%;
    height: 45px;
    margin: 20spx 0;

}

form .button input{
    height: 100%;
    width: 100%;
    outline: none;
    color: #fff;
    border: none;
    font-size:18px ;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background: black ;

}


form .button input:hover{

 background: #0dd60d;
 opacity: 0.8;
}

@media (max-width: 584px) {
    .container-fluid{
        max-width: 100%;
    }
    form .user-details .input-box{
        margin-bottom: 15px;
        width:100%;
    
    }
    .container-fluid form .user-details{
        max-height: 300px;
        overflow: y-scroll;
    }
    .user-details::-webkit-scrollbar{
        width: 0;

    }

}
</style>
{% include 'bus_ticketing_app/users/nav_bar.html' %}<br>
<div class="container-fluid">
    <div class="title">Search Bus Route</div>
        <form action="" method="get">
            {% csrf_token %}
            <div class="user-details">
                <div id="form-container"class="input-box">
                    <span class="details">Origin</span>
                    <input type="text" placeholder="Enter the Origin" name="origin">
                </div>
                <select name="" id="">
                    <option value="">{{ bus_routes }}</option>
                </select>
                <div id="form-container" class="input-box">
                    <span class="details">Destination</span>
                    <input type="text" placeholder="Enter the Destination" name="destination">
                </div>
                <div id="form-container" class="input-box">
                    <span class="details">Date</span>
                    <input type="date" name="date" id="dateInput">
                </div>
                <div id="form-container" class="button">
                    <input type="submit" value="Search">
                </div>
            </div>
        </form>
        
    </div> 
{% endblock %}


