{% extends 'bus_ticketing_app/layout.html' %}


{% block header %}
    <span class="navbar-logo" id="sp">
        <a href="">
        </a>
    </span>
    <span class="navbar-caption-wrap">
        <a class="navbar-caption" href="">NaijaRide</a>
    </span>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" href="#">Reservation</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" href="#">Routes</a>
        </li>
        <li class="nav-item">
        <a class="nav-link active" href="{% url 'bus_ticketing_app:book' %}">Booking</a>
        </li>
{% endblock %}